.titre {
  font-size: 30px;
}

hr{
  border-color : black;
  height: 2px;
}


.paragraphe{
  font-size: 17px;
  margin-left: 10px;
  color: black;
}
.sous-titre{
  color : #bf360c;
  font-size: 22px;
}
.center {
  margin: 0 auto;
  width: 80%;
}
.image {
  display: block;
  width: 50%;
  height: 350px;
}

.content{
  margin-left: 100px;
}

button {
  background-color: #f9683a;
  color: white;
}
