
.titre {
  color: #870000;
  font-size: 30px;
}

hr{
  border-color : black;
  height: 2px;
}

.sous-titre{
  color : #bf360c;
  font-size: 18px;
  margin-left: 15px;
}

button {
  background-color: #f9683a;
  color: white;
}

