<h3 class="titre text-center mt-3">Ajouter Formation</h3>
  <div class="container" >
      <form #formation="ngForm" (ngSubmit)="onSubmit(formation)" class="mt-4 col-md-6 mr-auto ml-auto">
        <div class="form-group ">
          <input type="text"  class="form-control" id="titre" placeholder="Titre" name="titre" ngModel required >
        </div>
        <div class="form-group ">
          <input type="text" class="form-control" id="desc"  placeholder="Description" name="desc" ngModel required >
        </div>
        <div class="form-group ">
          <input type="number" class="form-control" id="nbrh"  placeholder="nombre des heures" name="nbrh" ngModel required>
        </div>
        <div class="form-group ">
          <label for="program">Selectionner Programme :&nbsp;&nbsp;</label>
          <input type="file"  (change)="onFileChanged($event)" id="program"  name="program" required ngModel>
        </div>
        <div class="form-group ">
          <select class="form-control" id="niveau" name="niveau" ngModel required  [(ngModel)]='niveauSelect' >
            <option selected value="debutant">Debutant</option>
            <option value="intermediaire">Intermediaire</option>
            <option value="avance">Avance</option>
          </select>
        </div>
        <div class="form-group ">
          <input type="text" class="form-control" id="tags"  placeholder="mote Clée" name="tags" ngModel required>
        </div>

      <button type="submit" [disabled]="!formation.form.valid" class="btn mb-2 float-right">Ajouter Formation</button>
    </form>
  </div>
